{% extends 'base.html.twig' %}
{% block title %}Sign Up{% endblock %}
{% block body %}
<h1>Créer un compte</h1>
<div class="img-thumbnail" style="margin-left:500px;margin-right:500px;">

{{form_start(form)}}
{{form_row(form.nom)}}
{{form_row(form.prenom)}}
{{form_row(form.mail)}}
{{form_row(form.dateNaissance)}}
{{form_row(form.lienPortfolio)}}
{{form_row(form.tel)}}
{{form_row(form.mdp)}}
<input type="submit" value="Valider" name="add" id="add">
{{form_end(form)}}

</div>

<style>
h1{
    text-align:center;
}
.creationCompte{
    text-align:center;
    background-color:#EAEAEA;
    border-radius:4px;
}
</style>
{% endblock %}