{% extends 'base.html.twig' %}
{% block title %}Sign Up{% endblock %}
{% block body %}
<h1>Créer un compte</h1>
<div class="img-thumbnail" style="margin-left:500px;margin-right:500px;">

{{form_start(form)}}
{{form_row(form.nom)}}
{{form_row(form.prenom)}}
{{form_row(form.mail)}}
{{form_row(form.dateNaissance)}}
{{form_row(form.lienPortfolio)}}
{{form_row(form.tel)}}
{{ form_row(form.mdp.first) }}
{{ form_row(form.mdp.second) }}
<button type="submit" class="btn btn-primary" name="add" id="add">Valider</button>
{{form_end(form)}}

</div>

<<<<<<< HEAD
<script>
var password = document.getElementById("mdp")
  , confirm_password = document.getElementById("confmdp");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Les mot de passe ne sont pas similaires");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>

=======
>>>>>>> f2e0eaf331fa54aacd8c1013e5a8ce49181223f1
<style>
h1{
    text-align:center;
}
.creationCompte{
    text-align:center;
    background-color:#EAEAEA;
    border-radius:4px;
}
</style>
{% endblock %}