{% extends 'base.html.twig' %}
{% block title %}Les Hackathons{% endblock %}

{% block body %}
<div class="listeHackathons">

<div class="container-fluid">

{# Titre pour la page #}
<h1 class="titre">Liste des {{lesHackathons|length}} Hackathons</h1><br/>

<center>

<form method="POST" action="{{path('app_rechercheListeHackathon')}}">
    <label style="color:black;text-shadow: 1px 1px 2px white;font-weight:bold;">Chercher par ville &nbsp&nbsp</label><input type="text" name='searchHackathon' id='searchHackathon' placeholder="Nom d'une ville"></input>
    <input type='submit' value='Rechercher'></input>
</form><br/>
</center>

<div class="row">

{% if lesHackathons|length == 0 %}
    <h1 style="text-align:center;color:black;text-shadow: 1px 1px 2px white;font-size:50px;">Aucun hackathon n'est présent dans cette ville</h1>
{% endif %}

{# chaque ligne du table va faire une card Bootstrap #}

{% for hackathon in lesHackathons %}
<div class="col col-lg-3 col-sm-12 col-12 d-flex"> {# d-flex : les cards ont toutes la même taille #}
  <div class="card" style="width:100%;margin-bottom : 10px;"> {# Définit les cards #}


    {# Affiche l'image si le hackathon en a une #}
    {% if hackathon.infoHackathon.image != null %}
        <img class="card-img-top" src="{{hackathon.infoHackathon.image}}" style="height: 5vw; object-fit: cover;">
    {% endif %}


    {# body contenu de la card #}
    <div class="card-body">
        <h5 class="card-title">{{hackathon.infoHackathon.theme}}</h5>
        <p>{{hackathon.infoHackathon.ville}}</p>
        <p>date début :{{hackathon.infoHackathon.dateDebut|date("d/m/Y")}}</p>
        <p>date fin : {{hackathon.infoHackathon.dateFin|date("d/m/Y")}}</p>


        {# Affiche le nombre de places si il est définit #}
        {% if hackathon.infoHackathon.nbPlaces > 1 %}
            <p>{{hackathon.placesDispo}} places disponibles</p>
        {% elseif hackathon.infoHackathon.nbPlaces == 1 %}
            <p>{{hackathon.placesDispo}} place disponible</p>
        {% else %}
            <p>aucun place disponible</p>
        {% endif %}


        {# Bouton vers les infos du hackathon #}
        <a href="{{path('app_informationhackathon',{id : hackathon.infoHackathon.id})}}" class="btn btn-primary">Plus d'infos</a>


    </div>
  </div>
</div>
{% endfor %}
</div>
</div>

</div>
<style>
html,body{
    background-image: url("images/fondHackathon.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}
.listeHackathons{
    backdrop-filter:blur(5px);
    min-height:100%;
}
.titre{
    text-align:center;
    font-weight:bold;
    color:black;
    text-decoration:underline;
    font-size:50px;
    text-shadow: 1px 1px 2px white;
}
</style>
{% endblock %}


